
@font-face {
    font-family: main;
    src: url("./font/LilitaOne-Regular.ttf");
}

*{
    font-family: main;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    /* background-image: linear-gradient(#151515, #121212); */
    transition: background-image 2s ease-in-out;
    overflow-x: hidden;
    background-color: #131313;
}

header{
    position: relative; 
    height: 100px;
    display: grid;
}
nav{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 0 0 0 25px;
}
.title{
    color: #fff;
    font-size: 45px;
    position: absolute;
}
nav li{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 25px;
    transition: color 1s ease-in;
    color: #fff;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.window{
    width: 50%;
    height: 70%;
    background-color: #232323;
    border-radius: 2%;
    border: 2px solid #000;
    box-shadow: 10px 0px #171717;
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;

}


.window-footer{
    width: 35%;
    height: 10%;
    background-color: #171717;
    border: 2px solid #000;
    padding-top: 10px;
    border-radius: 5px;
    border-top: 0px;
    display: flex;
    gap:10px;
    padding-left: 10px;
    transition: width 0.8s ease-in-out, height 0.8s ease-in-out;
}
.window-footer div{
    width: 31.5%;
    height: 90%;
    border: 1px solid white;
}

@media screen and (max-width: 780px) {
    .window{
        width: 95%;
    }
    .window-footer{
        width: 90%;
    }
    nav li{
        gap: 10px;
    }
    .title{
        position: relative;
    }
}



.control{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-right: 5px;
    padding-top: 5px
}

#minimize{
    width: 20px;
    height: 20px;
    background-color: #FBBC05;
    border-radius: 100%;
}
#resize{
    width: 20px;
    height:20px;
    background-color: #2fcb47;

    border-radius: 100%;
}
#close{
    width: 20px;
    height: 20px;
    background-color: #d42a2a;
    border-radius: 100%;
}

.info{
    margin: 10px 10px;
    width: 100%;
    height: 83%;
    color: white;
}

.info p{
    font-size: 25px;
}
.info h1{
    font-size: 50px;
    color: rgb(24, 158, 216);
}
.window-footer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.window-footer div:nth-child(2){
    border: 1px solid gold;
}
